.eltdf-mobile-header {

    .eltdf-mobile-nav {
        display: none;
        background-color: #fff;
        border-bottom: 1px solid $default-border-color;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                position: relative;
                padding: 0;
                margin: 0;
                border-top: 1px solid $default-border-color;

                a, h5 { //h5 is here because of no link option in navigation
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 5px 0 5px 2px;
                    font-size: 13px;
                    line-height: 40px;
                    cursor: pointer;
					font-weight: 400;

                    &:hover {
                        color: $first-main-color;
                    }
                }
            }

            //dropdowns
            ul {
                display: none;
                margin-left: 15px;

                li {

                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        color: $first-main-color;
                    }
                }
            }
        }

        .eltdf-grid > ul {

            > li {

                &:first-child {
                    border-top: none;
                }

                > a,
                > h5 {
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $default-heading-color;

                    &:hover {
                        color: $first-main-color;
                    }
                }

                &.eltdf-active-item > a {
                    color: $first-main-color;
                }
            }
        }

        .mobile_arrow {
            $mobile-arrow-height: 50px;

            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: $mobile-arrow-height;
            line-height: $mobile-arrow-height;
            font-size: 18px;
            text-align: right;

            &:hover {
                color: $first-main-color;
                cursor: pointer;
            }

            //@TODO remove this line of code when new headers are enabled
            .fa-angle-down {
                display: none; //temporarily
            }
        }

        li.eltdf-opened > .mobile_arrow > .eltdf-sub-arrow {
            @include eltdfTransform(rotate(90deg));
        }

        & > ul > li:last-child > a,
        & > .eltdf-grid > ul > li:last-child > a {
            border-bottom: none;
        }
    }
}