$top-bar-height: 30px;

.eltdf-top-bar {
    position: relative;
    height: $top-bar-height;
    width: 100%;
    font-size: 10px;
    color: $default-text-color;
    background-color: $default-heading-color;
    z-index: 111;

    > .eltdf-vertical-align-containers {
        padding: 0 50px;
    }

    .eltdf-grid {
        height: 100%;

        .eltdf-vertical-align-containers {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.eltdf-light-header .eltdf-top-bar {
    color: $header-light-color !important; //Beacause of inline color styles

    .widget {
        color: $header-light-color !important; //Beacause of inline color styles

        p,
        a,
        span,
        i,
        .widgettitle {
            color: $header-light-color !important; //Beacause of inline color styles
        }

        a:hover {
            color: $header-light-hover-color !important; //Beacause of inline color styles
        }
    }
}

.eltdf-dark-header .eltdf-top-bar {
    color: $header-dark-color !important; //Beacause of inline color styles

    .widget {
        color: $header-dark-color !important; //Beacause of inline color styles

        p,
        a,
        span,
        i,
        .widgettitle {
            color: $header-dark-color !important; //Beacause of inline color styles
        }

        a:hover {
            color: $header-dark-hover-color !important; //Beacause of inline color styles
        }
    }
}